/* .rightContent{
  position: relative;
} */
.dashboardPage {
  background: #000000;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.wrapperPosition{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.wrapperPosition {
  position: relative;
  /* overflow: hidden; */
}
.responsivePic {
  position: absolute;
  border-radius: 100%;
}
.elip14 {
  background: linear-gradient(220deg, #6d54eb 3.47%, #652392 90.06%);
  filter: blur(400px);
  width: 739px;
  height: 745px;
  top: -200px;
  left: -150px;
}
.elip19 {
  background: linear-gradient(207deg, #341fa0 44.63%, #652392 88.57%);
  filter: blur(400px);
  width: 760px;
  height: 766px;
  bottom: -300px;
  left: -100px;
}
.elip16 {
  background: #302e8e;
  filter: blur(300px);
  width: 363px;
  height: 366px;
  top: 40px;
  right: -100px;
}
.elip17 {
  background: linear-gradient(220deg, #6d54eb 3.47%, #652392 90.06%);
  filter: blur(400px);
  width: 893px;
  height: 901px;
  bottom: -350px;
  right: -200px;
}
.leftContent{
  
}
.rightContent {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 6;
}
.containerStaticComp{
display: flex;
flex-direction: column;
gap: 32px;
padding-top: 40px;
}
.currencyContainer {
  display: none;
}
/* Media query pentru tablet */
@media (min-width: 768px) and (max-width: 1024px)  {
  .leftContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .currencyContainer{
    display: block;
    width: 100%;
    display: flex;
  }
}
/* Media query pentru desktop */
@media (min-width: 1024px) {
  .wrapperPosition {
    flex-direction: row;
    padding: 0px;
    gap: 0px;
  }
  .containerStaticComp{
    padding-top:0;
  }
  .leftContent {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:32px;
    padding-top: 40px;
  }

  .rightContent {
    flex-direction: row;
    border-left: 1px solid rgba(255, 255, 255, 0.527);
  }
  .currencyContainer{
    display: block;
  }
}

