.wrapper{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    background: linear-gradient(136deg, #000, #6d54eb, #652392, #000);
    height: 100vh;
    width: 100vw;
    /* padding-top: 40px; */
}
.containerPage{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.link{
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 18px;
color: #fbfbfb;
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}
.list{
    flex: 1;
    border-right: 1px solid #ffffff4a;
    padding-top: 40px;
}
.link:first-child{
    margin-bottom: 12px;
}
.table{
    flex: 2;
    margin: 0 auto;
    padding-top: 40px;
}
/* .logUser{
    display: none;
} */