.wrapper{
    display: flex;
    flex-direction: column;
    background-color: black;
    /* background: linear-gradient(136deg, #000, #6d54eb, #652392, #000); */
    height: 100vh;
    width: 100vw;
}
.container{
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    
}
.tablePage{
    margin: 0 auto;
    padding-top: 40px;
}
/* .logUser{
    display: none;
} */