.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 533px;
    height: 447px;
    backdrop-filter: blur(100px);
    background-color: #ffffff1a;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 60px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
}

.content img {
    width: 182px;
    height: 75px;

}

.content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btnLogOut, .btnCancel {
    border-radius: 20px;
    width: 300px;
    height: 50px;
    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
   
}

.btnLogOut {
    background:linear-gradient(167deg, #ffc727 0%, #9e40ba 61.46%, #7000ff 90.54%);
    color: #fff;
}

.btnCancel {
    background-color: #fcfcfc;
    color: #623f8b;
}


.btnCancel:focus, .btnLogOut:focus {
    outline: none;
}
