.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 13, 91, 0.23);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.content {
  width: 533px;
  height: 100%;
  backdrop-filter: blur(100px);
  background-color: #ffffff1a;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 60px #00000040;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.leftText,
.rightText {
  margin: 0 20px;
  font-size: 16px;
  color: rgb(255, 255, 255, 60%);
}

.income {
  color: var(--yellow);
}

.expense {
  color: var(--dashboard-text);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.button > button {
  border-radius: 20px;
  height: 50px;
  width: 100%;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.button .addButton {
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
}

.button .cancelButton {
  color: var(--text-button);
}

.input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff66;
  background: transparent;
  padding-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  height: 35px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  font-family: var(--font-family);
}

.datePicker {
  margin-top: 40px;
}

.datePicker > div {
  width: 100%;
}

.datePicker input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff66;
  background: transparent;
  padding-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  height: 35px;
}

.comment {
  margin-top: 40px;
}

.selectContainer {
  margin-bottom: 40px;
}

.customSelect {
  width: 100%;
  background: none;
  height: 35px;
  border: none;
  color: rgb(255, 255, 255, 0.6);
  margin-bottom: 40px;
  padding: 0;
  margin-left: 0;
  box-shadow: none;
  outline: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 10px center;
  background-size: 16px 16px;
  padding-right: 30px;
  opacity: 0.6;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.6);
}

.customSelectContainer {
  position: relative;
  width: 100%;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto; 
  backdrop-filter: brightness(0.5);
  background: linear-gradient(270deg, rgba(83, 61, 186, 0.7) 0%, rgba(80, 48, 154, 0.7) 43.14%, rgba(106, 70, 165, 0.525) 73.27%, rgba(133, 93, 175, 0.133) 120.03%);
}

.option {
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.option:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.optionsContainer::-webkit-scrollbar {
  width: 8px;
}

.optionsContainer::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.optionsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.optionsContainer {
  scrollbar-width: thin; /* lățimea scrollbar-ului */
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1); /* culoarea thumb-ului și track-ului */
}

.optionsContainer::-moz-scrollbar-button,
.optionsContainer::-moz-scrollbar-button,
.optionsContainer::-webkit-scrollbar-button,
.optionsContainer::-webkit-scrollbar-button {
  width: 0px;
}

.datePicker {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .amountAndDate {
    display: flex;
    gap: 60px;
  }

  .datePicker {
    margin-top: 0;
  }
}
