.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 16px;
}
.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 32px;
  padding: 0;
}
.list p {
  padding: 0px;
  margin: 0px;
}
.list span {
  display: none;
}
.link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  transform: scale(1);
  transition: transform 0.2s ease-in;
}
.link:hover {
  transform: scale(1.03);
  font-weight: 700;
}
.link:focus {
  font-weight: 700;
}
.icon {
  background-color: #ffffff66;
  color: #ffffff;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.02s ease-in;
  border-radius: 8px;
}

.icon:hover{
  box-shadow: 0 3px 10px 0 rgba(74, 86, 226, 0.5);
  background-color: #7147f0;
}
.icon:active{
  background-color: #7147f0;
}
@media (min-width: 768px) and (max-width: 1024px){
  .svg{
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .navContainer{
    justify-content: flex-start;
  }
  .list {
    flex-direction: column;
    gap: 12px;
  }
  .list p {
    padding: 0px;
    margin: 0px;
  }
  .list span {
    display: flex;
  }

  .liCurrency {
    display: none;
  }
  
  .svg {
    width: 24px;
    height: 24px;
  }
  .link:hover .icon{
    color: white;
    background-color: #7147f0;
  }
  .icon:focus {
    color: #7147f0;
  }
  

}
