.statisticsTab {
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  margin: 0 auto; /* Center the container horizontally */
  position: relative; /* Enable positioning of child elements */
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Center content vertically */
  justify-content: flex-start; /* Align content to the start horizontally */
  color: #fff; /* Ensure text is readable on the gradient background */
}

.backgroundImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1; /* Ensure the background image is behind other content */
}

.content {
  padding: 20px;
  box-sizing: border-box;
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Optional: Add a slight background for better readability */
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-left: 100px; /* Adjust this value to move content to the right */
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 20px;
  padding: 10px 0; /* Add padding to the title */
}

.selectContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

select {
  background: linear-gradient(
    0deg,
    rgba(83, 61, 186, 0.7) 0%,
    rgba(80, 48, 154, 0.7) 43.14%,
    rgba(106, 70, 165, 0.525) 73.27%,
    rgba(133, 93, 175, 0.133) 120.03%
  );
  box-shadow: 0px 4px 60px 0px #00000040;
  border: none;
  color: #fff; /* Ensure text is readable on the gradient background */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px; /* Add rounded corners */
  margin-left: 10px; /* Add some space between the selects */
  cursor: pointer;
  appearance: none; /* Remove default select arrow */
}

.statisticsDashboard {
  width: 715px;
  height: auto;
  margin-bottom: 20px;
}

.statisticsTable {
  width: 715px;
  height: auto;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .statisticsDashboard,
  .statisticsTable {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .selectContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin-bottom: 10px;
    width: 100%;
  }

  table {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }

  .selectContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin-bottom: 10px;
    width: 100%;
  }

  table {
    font-size: 0.75rem;
  }

  th,
  td {
    padding: 6px;
  }
}
