.table {
  display: none;
}
.tableMobile {
  height: 75%;
  overflow-y: scroll;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .table {
    max-width: 704px;
  }
}
/* Media query pentru desktop */
@media (min-width: 768px) {
  .wrapper {
    /* padding-top: 40px; */
    flex: 2;
  }
  .tableMobile {
    display: none;
  }
  .table {
    display: block;
    width: 100%;
    max-width: 715px;
    height: 308px;
    border-collapse: collapse;
    margin: 0 auto;
  }
  .header {
    border-radius: 8px;
    width: 100%;
    height: 56px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(82, 59, 126, 0.6);
    border: none;
  }
  .col {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* justify-items: center; */
    /* width: max(80%, 565px); */
    width: 100%;
    height: 100%;
    align-items: center;
    color: #fbfbfb;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
  }
}
